
<body>
	<p class="legend">
		BUTTONS:
		<button type="button" class="body" (click)="newTeam(true)">Add Team</button>
		<button type="button" class="body" (click)="newPlayer()">Add Player</button>
		<button type="button" class="body" (click)="addTenPlayers()">Add 10x Players</button>
		_
		<button type="button" class="body" (click)="distributeAll()">Distribute</button>
		Must add teams before clicking 'Add 10x Players' button (idk why)
	</p>
</body>
<hr>
<body>
	<p class="legend">
		PLAYERS:
		<button type="button" class="body" id="totalPlayers">Total: </button>
		<button type="button" class="body" id="inTeams">inTeams: </button>
		<button type="button" class="body" id="inQueue">inQueue: </button>
		PlayerName: red if originally on team, green if placed on team by 'Distribute' button
	</p>
</body>
<hr>
<body>    
	<p class="legend">
		TEAMS:
		<button type="button" class="body" id="averageSize">Average: </button>
		<button type="button" class="body" id="smallestSize">Largest: </button>
		<button type="button" class="body" id="largestSize">Smallest: </button>
		TeamName: red if full, green if open
	</p>
</body>
<hr>
<body>
    <div id="teamHolder"></div>
    <div id="queueHolder"></div>   
</body>

